<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de empleados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: url(../img/background.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .main-section {
            margin: 0 auto;
            margin-top: 5%;
        }

        .card {
            opacity: .95;
        }

        .card-body {
            background-color: #d1d3d6;
            box-shadow: 0px 0px 3px #848484;
        }

        label {
            font-weight: bold;
        }

        .nav-tabs .nav-item a:not(.active) {
            background-color: #d1d3d6;
        }

        .nav-tabs {
            border-bottom: 0px;
        }

        @media (max-width: 768px) {
            .table th, .table td {
                font-size: 0.8rem;
                padding: 0.5rem;
            }
        }
    </style>
</head>
<body>

<header class="bg-dark text-white py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h3">Info web</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/empleados">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/empleados">Administración</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link text-white">Logout</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="container mt-4">
    <h1>Listado de usuarios</h1>
    <br>

    <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Clave</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado : ${empleados}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.apellido}"></td>
            <td th:text="${empleado.clave}"></td>
            <td th:text="${empleado.fechaEntrada}"></td>
            <td th:text="${empleado.fechaSalida}"></td>
            <td>
                <form th:action="@{'/empleados/showUpdateForm/' + ${empleado.id}}" method="get">
                    <button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
                </form>
                <form th:action="@{/empleados/deleteEmpleado}" method="post">
                    <input type="hidden" name="id" th:value="${empleado.id}">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Agregar Empleado</h2>
                    <form th:action="@{/empleados/saveEmpleado}" method="post">
                        <div class="form-group">
                            <label class="text-right pl-3">Cedula:</label>
                            <input type="text" name="id" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="text-right pl-3">Nombre:</label>
                            <input type="text" name="nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="text-right pl-3">Apellido:</label>
                            <input type="text" name="apellido" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="text-right pl-3">Clave:</label>
                            <input type="text" name="clave" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="text-right pl-3">Fecha entrada:</label>
                            <input type="text" name="fechaEntrada" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="text-right pl-3">Fecha salida:</label>
                            <input type="text" name="fechaSalida" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg mx-auto d-block">Agregar Usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>




